.table__save-button {
  transition: 0.25s;
  padding: 5px 20px;
  margin-right: 20px;
  margin-left: -30px;
  max-width: 200px;
  border-radius: 2px;

  text-align: center;
  font-family: "OpenSans-bold", sans-serif;
  font-weight: 700;
  font-size: 20px;

  background-color: #d7ac67;
  color: white;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.4);
  }

  &:active {
    color: #f7fbfb;
    background-color: #c57f42;
  }
}

.table__button-row {
  display: flex;
  justify-content: center;
}

.table__button {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.25s;
  width: 30px;


  padding: 5px 10px;
  border-radius: 2px;

  cursor: pointer;

  background-color: #f7fbfb;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  &:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2) inset;
  }

  &:active {
    opacity: 0.5;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2) inset;
  }
}

.button__img {
  max-width: 100%;
}

.button__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.button__hidden-text {
  display: none;
}

.button__container:hover .button__hidden-text {
  display: block;
  z-index: 2;
}
