@import "../../assets/styles/vars.scss";

.table {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
  border: 15px solid #f2f8f8;
  border-top: 5px solid #f2f8f8;
  border-bottom: none;
  border-collapse: collapse;
}

.table thead {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #f2f8f8;
  border: none;
  border-bottom: 5px solid #f2f8f8;
  text-align: start;

  @media screen and (max-width: 1023px) {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media screen and (max-width: 1023px) {
  .table tr {
    display: block;
    margin-bottom: 30px;
    border-right: none;
  }
}
.table td {
  padding: 5px;
  border: none;
  border-bottom: 5px solid #f2f8f8;
  border-right: 1px solid #ddd;

  @media screen and (max-width: 1023px) {
    display: block;
    border-right: none;
  }
}
.table tbody tr td:first-child {
  @media screen and (max-width: 1023px) {
    border-top: 5px solid #f2f8f8;
  }
}
.table thead tr th:first-child,
.table tbody tr td:first-child {
  border-left: none;
}
.table thead tr th:last-child,
.table tbody tr td:last-child {
  border-right: none;
  padding-left: 20px;
  @media screen and (max-width: 300px) {
    padding-left: 0px;
  }
}

.table tbody .table__body-row:last-child {
  border-bottom: 15px solid #f2f8f8;
}

.scroll-table-body {
  max-width: 1400px;
  margin: 0px auto;
  max-height: 450px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  @media screen and (max-width: 1023px) {
    max-height: fit-content;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.scroll-table table {
  width: 100%;
  table-layout: fixed;
}
html,
body {
  scrollbar-color: rgba(45, 63, 51, 0.3) $yellow;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(198, 133, 75, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px rgba(45, 63, 51, 0.3);
}

.table__error-message {
  color: $darkGreen;
  font-family: "OpenSans-Semibold", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .table .table__body-row .table__text::before {
    content: attr(data-label);
    float: left;
    margin-right: 25px;
    font-family: "OpenSans-Medium", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: $olive;
  }

  .table .table__body-row .table__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.table .table__body-row .table__text {
  @media screen and (max-width: 578px) {
    justify-content: space-between;
    padding: 0px 10px;
  }
  @media screen and (max-width: 324px) {
    justify-content: space-between;
  }
}
