.button_edit,
.button_learn,
.button_known {
  background-color: #f7fbfb;
  border: 1px solid #5b5248;
  border-radius: 2px;
  padding: 2px 5px;

  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;

  position: absolute;
  top: 40px;
}
