$beige: #f2f4e9;
$beige-yellow: #f1e0b1;
$yellow: #e8e6a9;
$orange: #d7ac67;
$orange1: #eab67a;
$lightBrown: #b69479;
$brown: #c6854b;
$darkBrown: #5b5248;
$darkGreen: #2d3f33;
$lightGreen: #7d9f6d;
$olive: #8e9e82;
